In [ ]:
# object
# int64
# float64
# datetime64
# bool

In [34]:
import numpy as np
import pandas as pd
df = pd.read_csv("sales_data_types.csv")
df.count()

Customer Number    5
Customer Name      5
2016               5
2017               5
Percent Growth     5
Jan Units          5
Month              5
Day                5
Year               5
Active             5
dtype: int64

In [41]:
d1.count()          #非空元素计算
d1.min()            #最小值
d1.max()            #最大值
d1.idxmin()         #最小值的位置，类似于R中的which.min函数
d1.idxmax()         #最大值的位置，类似于R中的which.max函数
d1.quantile(0.1)    #10%分位数
d1.sum()            #求和
d1.mean()           #均值
d1.median()         #中位数
d1.mode()           #众数
d1.var()            #方差
d1.std()            #标准差
d1.mad()            #平均绝对偏差
d1.skew()           #偏度
d1.kurt()           #峰度
d1.describe()       #一次性输出多个描述性统计指标

Customer Number            651029
Customer Name      Smith Plumbing
2016                  $920,000.00
2017                    $62500.00
Percent Growth              4.00%
Jan Units                  Closed
Month                          10
Day                            29
Year                         2016
Active                          Y
dtype: object

In [12]:
df["Customer Number"] = df['Customer Number'].astype('int')
df.dtypes

Customer Number     int32
Customer Name      object
2016               object
2017               object
Percent Growth     object
Jan Units          object
Month               int64
Day                 int64
Year                int64
Active             object
dtype: object

In [14]:
def convert_currency(val):
    new_val = val.replace(',','').replace('$', '')
    return float(new_val)

In [15]:
df['2016'].apply(convert_currency)

0    125000.0
1    920000.0
2     50000.0
3    350000.0
4     15000.0
Name: 2016, dtype: float64

In [ ]:
df['2016'].apply(lambda x: x.replace('$', '').replace(',', '')).astype('float')

In [16]:
df['Percent Growth'].apply(lambda x: x.replace('%', '')).astype('float') / 100

0    0.30
1    0.10
2    0.25
3    0.04
4   -0.15
Name: Percent Growth, dtype: float64

In [28]:
df["Active"]= np.where(df["Active"] == "Y", False, True)
df

,Customer Number,Customer Name,2016,2017,Percent Growth,Jan Units,Month,Day,Year,Active
0,10002.0,Quest Industries,"$125,000.00",$162500.00,30.00%,500,1,10,2015,False
1,552278.0,Smith Plumbing,"$920,000.00","$101,2000.00",10.00%,700,6,15,2014,False
2,23477.0,ACME Industrial,"$50,000.00",$62500.00,25.00%,125,3,29,2016,False
3,24900.0,Brekke LTD,"$350,000.00",$490000.00,4.00%,75,10,27,2015,False
4,651029.0,Harbor Co,"$15,000.00",$12750.00,-15.00%,Closed,2,2,2014,True

In [29]:
pd.to_numeric(df['Jan Units'], errors='coerce')

0    500.0
1    700.0
2    125.0
3     75.0
4      NaN
Name: Jan Units, dtype: float64

In [30]:
pd.to_numeric(df['Jan Units'], errors='coerce').fillna(0)

0    500.0
1    700.0
2    125.0
3     75.0
4      0.0
Name: Jan Units, dtype: float64

In [31]:
pd.to_datetime(df[['Month', 'Day', 'Year']])

0   2015-01-10
1   2014-06-15
2   2016-03-29
3   2015-10-27
4   2014-02-02
dtype: datetime64[ns]

In [ ]:
df["Start_Date"] = pd.to_datetime(df[['Month', 'Day', 'Year']])
df["Jan Units"] = pd.to_numeric(df['Jan Units'], errors='coerce').fillna(0)

In [ ]:
def convert_percent(val):
    new_val = val.replace('%', '')
    return float(new_val) / 100

df['Percent Growth'].apply(convert_percent)

In [ ]:
df_2 = pd.read_csv("sales_data_types.csv",
                   dtype={'Customer Number': 'int'},
                   converters={'2016': convert_currency,
                               '2017': convert_currency,
                               'Percent Growth': convert_percent,
                               'Jan Units': lambda x: pd.to_numeric(x, errors='coerce'),
                               'Active': lambda x: np.where(x == "Y", True, False)
                              })

df_2.dtypes

In [43]:
df=df.drop('2016', axis=1)  
df

,Customer Number,Customer Name,2017,Percent Growth,Jan Units,Month,Day,Year,Active
0,10002.0,Quest Industries,$162500.00,30.00%,500,1,10,2015,Y
1,552278.0,Smith Plumbing,"$101,2000.00",10.00%,700,6,15,2014,Y
2,23477.0,ACME Industrial,$62500.00,25.00%,125,3,29,2016,Y
3,24900.0,Brekke LTD,$490000.00,4.00%,75,10,27,2015,Y
4,651029.0,Harbor Co,$12750.00,-15.00%,Closed,2,2,2014,N

In [ ]:
df.sort_values(by=['Month','Day'])  
df.sort_values(by=['Month','Month'], ascending=False)

In [46]:
# 查询某一字段数据为空的数量
sum(pd.isnull(df['Day']))

0