In [2]:
import dask
import dask.dataframe as dd
df = dask.datasets.timeseries()
df

Dask DataFrame Structure:
                   id    name        x        y
npartitions=30
2000-01-01      int32  object  float64  float64
2000-01-02        ...     ...      ...      ...
...               ...     ...      ...      ...
2000-01-30        ...     ...      ...      ...
2000-01-31        ...     ...      ...      ...
Dask Name: make-timeseries, 30 tasks

In [3]:
df.dtypes

id        int32
name     object
x       float64
y       float64
dtype: object

In [10]:
import dask.dataframe as dd
df = dd.read_csv('./CCustomer.csv')
df.head()

,customer_id,customer_name,address,country_id,id_card,id_card_expiry_date
0,001700415139,天津庆银喜劳务服务有限公司,天津市河东区太阳城鲁山道金旭园30号楼501室,CHN,MA06BYGFX,20210406
1,001700389271,天津拍拍购网络科技有限公司,天津市北辰区天津北辰经济技术开发区高端园永进道88号商务中心8064室,CHN,MA06AH5G6,20200317
2,001610629920,海中信实业投资有限公司,NaN,CHN,556876171,20210423
3,001610533514,杭州澳海控股有限公司,NaN,CHN,91330100665212868G,20190402
4,001610707497,龙岩市新宇汽车销售服务有限公司,NaN,CHN,754977889,20190129